<% title t('.title') %>
<%= render partial: 'search', locals: {search: @search} %>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <th><%= sort_link @search, :can_stay, '#' %></th>
      <th><%= sort_link @search, :stay_day, Charge.human_attribute_name(:stay_day) %></th>
      <th><%= sort_link @search, :hotel_id, Charge.human_attribute_name(:hotel_id) %></th>
      <th><%= sort_link @search, :room_id, Charge.human_attribute_name(:room_id) %></th>
      <th><%= sort_link @search, :amount, Charge.human_attribute_name(:amount) %></th>
    </thead>
    <tbody>
      <% @charges.each do |charge| -%>
        <tr>
          <td><%= charge.stay_label %></td>
          <td><%= charge.stay_day %></td>
          <td><%= link_to charge.hotel.name, admin_hotel_path(charge.hotel_id) %></td>
          <td><%= charge.room.name %><br><%= charge.plan.long_name %></td>
          <td><%= charge.price %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
<%= paginate @charges %>