<h3><%= t('activerecord.models.plan') %></h3>
<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <th><%= Plan.human_attribute_name(:code) %></th>
      <th><%= Plan.human_attribute_name(:name) %></th>
    </thead>
    <tbody>
      <% plans.each do |plan| -%>
        <tr>
          <td><%= plan.code %></td>
          <td>
            <%= plan.name %><br>
            <%= plan.payment_icon %>
            <%= plan.point_icon %>
            <%= plan.gift_icon %>
            <%= plan.breakfast_icon %><%= plan.dinner_icon %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>