<div class="search-box clearfix">
<div class="col-md-4">
<%= search_form_for @search, url: admin_hotels_path, method: :get, role: 'form' do |f| %>
  <div class="form-group">
    <%= f.collection_select :area_id_eq, Area.select(:id, :long_name).load, :id, :long_name, {prompt: t('activerecord.models.area')}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <div class="input-group">
      <%= f.text_field :long_name_or_short_name_cont, class: 'form-control col-md-4', placeholder: Hotel.human_attribute_name(:name) %>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><%= icon('search') %></button>
      </span>
    </div>
  </div>
<% end -%>
</div>
</div>
<!-- foo -->
<%= javascript_include_tag_to :foot, 'admin/hotels' %>
<!-- bar-->