<% title t('.title') %>
<%= render partial: '/shared/navigation' %>
<ul class="media-list">
  <% @hotels.each do |hotel| -%>
  <li class="media" style="border-bottom:1px solid #eee;">
    <p class="pull-left"><%= hotel.image %></p>
    <p class="pull-left"><%= hotel.enable_label %></p>
    <p class="pull-right">
      <%= show_link(hotel) %>
      <%= destroy_link(hotel) %>
    </p>
    <div class="media-body">
      <h4 class="media-heading">[<%= hotel.no %>]&nbsp;<%= hotel.link %></h4>
      <%= hotel.postal_code %>&nbsp;<%= hotel.address1 %><%= hotel.address2 %>(<%= hotel.google_map_link %>)<br>
      <%= hotel.access %>
    </div>
  </li>
  <% end -%>
</ul>
<%= paginate @hotels %>