<% title t('.title') %>
<%= render partial: '/shared/navigation' %>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <th></th>
      <th><%= Hotel.human_attribute_name(:long_name) %></th>
      <th><%= Hotel.human_attribute_name(:address2) %></th>
      <th class="col-md-2"></th>
    </thead>
    <tbody>
        <% @hotels.each do |hotel| -%>
        <tr>
          <td><%= hotel.enable_label %></td>
          <td><%= hotel.image %></td>
          <td>
            <%= hotel.no %><br>
            <%= hotel.link %>
          </td>
          <td>
            <%= hotel.postal_code %><br>
            <%= hotel.address1 %><%= hotel.address2 %>
          </td>
          <td>
            <%= edit_link(hotel) %>
            <%= destroy_link(hotel) %>
          </td>
        </tr>
        <tr>
          <td colspan="5"><%= hotel.google_map_link %><br><%= hotel.access %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>


</div>
<%= paginate @hotels %>