<% title t('.title') %>
<%= render partial: '/shared/navigation' %>
<%= render partial: 'search', locals: {search: @search} %>
<ul class="media-list">
  <% @hotels.each do |hotel| -%>
  <li class="media" style="border-bottom:1px solid #eee;">
    <p class="pull-left"><%= hotel.image %></p>
    <p class="pull-left"><%= hotel.toggle_link %></p>
    <div class="media-body">
      <h4 class="media-heading">[<%= hotel.no %>]&nbsp;<%= hotel.link %></h4>
      <div class="row">
        <div class="col-md-10">
          &#12306;<%= hotel.postal_code %>&nbsp;<%= hotel.full_address %>&nbsp;&nbsp;
          <%= link_to hotel.google_map_url do %>
            <%= icon('map-marker') %>&nbsp;<%= t('global.google_map_link_name') %>
          <% end -%><br>
          <%= hotel.access %><br>
          <div style="width: 50%;">
            <%= hotel.review_score %>
          </div>
        </div>
        <div class="col-md-2">
          <%= show_link(hotel) %>
          <%= destroy_link(hotel) %>
        </div>
      </div>
    </div>
  </li>
  <% end -%>
</ul>
<%= paginate @hotels %>
<%= javascript_include_tag_to :foot, 'admin/hotel' %>