<% title @hotel.name %>
<%= render partial: '/shared/navigation', locals: {resource: @hotel, visible_show: true} %>
<div class="row">
  <div class="col-md-10">
    <div class="pull-left"><%= @hotel.toggle_link %></div>
    <h3>[<%= @hotel.no %>]&nbsp;<%= @hotel.front_link %></h3>
  </div>
  <div class="col-md-2 text-right">
    <%= edit_link(@hotel) %>
    <%= destroy_link(@hotel) %>
  </div>
</div>
<div class="media">
  <p class="pull-left">
    <%= @hotel.image(180) %>
    <br>
    <%= @hotel.room_image(180) %>
  </p>
  <div class="media-body">
    <div class="row">
      <div class="col-md-4">
        <address>
          <%= @hotel.postal_code %><br><%= @hotel.full_address %>(<%= @hotel.google_map_link %>)<br>
          <%= Hotel.human_attribute_name(:telephone_no) %>: <%= @hotel.telephone_no %><br>
          <%= simple_format(@hotel.access) %>
        </address>
        <p class="hotel-detail-info">
          <%= @hotel.room_num_label %><br>
          <%= @hotel.room_type_label %><br>
          <%= @hotel.plan_count_label %>
        </p>
      </div>
      <div class="col-md-4">
        <%= @hotel.review_score %>
        <%= @hotel.service_progressbar %>
        <%= @hotel.location_progressbar %>
        <%= @hotel.room_progressbar %>
        <%= @hotel.equipment_progressbar %>
        <%= @hotel.bath_progressbar %>
        <%= @hotel.meal_progressbar %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'rooms', locals: {rooms: @hotel.rooms} %>
<%= render partial: 'plans', locals: {plans: @hotel.plans} %>
<%= javascript_include_tag_to :foot, 'admin/hotel' %>