<% title @hotel.name %>
<%= render partial: '/shared/navigation', locals: {resource: @hotel, visible_show: true} %>
<div class="media">
  <p class="pull-left"><%= @hotel.image %></p>
  <p class="pull-left"><%= @hotel.enable_label %></p>
  <div class="media-body">
    <h4 class="media-heading">[<%= @hotel.no %>]&nbsp;<%= @hotel.link %></h4>
    <div class="row">
      <div class="col-md-9">
        <%= @hotel.postal_code %>&nbsp;<%= @hotel.address1 %><%= @hotel.address2 %>(<%= @hotel.google_map_link %>)<br>
        <%= @hotel.access %><br>
        <%= @hotel.room_num_label %>
      </div>
      <div class="col-md-3">
        <%= edit_link(@hotel) %>
        <%= destroy_link(@hotel) %>
      </div>
    </div>
  </div>
</div>
<div class="reviews row">
  <div class="col-md-6">
    <%= @hotel.review_score %>
      <h5>詳細な評価</h4>
    <div class="row">
      <div class="col-md-6">
        <%= @hotel.service_progressbar %>
        <%= @hotel.location_progressbar %>
        <%= @hotel.room_progressbar %>
      </div>
      <div class="col-md-6">
        <%= @hotel.equipment_progressbar %>
        <%= @hotel.bath_progressbar %>
        <%= @hotel.meal_progressbar %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render partial: 'rooms', locals: {rooms: @hotel.rooms} %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'plans', locals: {plans: @hotel.plans} %>
  </div>
</div>
<h3>Charges</h3>
<div class="table-responsive">
<table class="table table-bordered table-condensed">
<thead>
  <th class="col-md-3"></th>
<% 0.upto(6) do |i| %>
  <th style="font-size:10px;"><%= l(i.days.since.to_date, format: :long) %></th>
<% end -%>
</thead>
<tbody>
<% @hotel.charges_by(0, 6).each do |r| -%>
<tr>
  <th><span style="font-size:12px;"><%= r[:room].name %></span></th>
<% r[:charges].each_pair do |k,v| %>
  <td class="<%= v[:can_stay] ? 'bg-primary' : ''%>">
    <%= v[:can_stay] ? '可' : '不可' %><br>
    <%= v[:amount] > 0 ? v[:amount] : '-' %>
  </td>
<% end -%>
</tr>
<% end -%>
</tbody>
</table>
</div>