<% title t('.title') %>
<%= render partial: '/shared/navigation' %>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <th></th>
      <th><%= Area.human_attribute_name(:long_name) %></th>
      <th></th>
    </thead>
    <tbody>
      <% @areas.each do |area| -%>
        <tr>
          <td><%= area.toggle_link %></td>
          <td><%= area.name %><br><%= Area.human_attribute_name(:section) %>:&nbsp;<%= area.section %></td>
          <td>
            <%= area.import_link %>
            <%= edit_link(area) %>
            <%= destroy_link(area) %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
<%= paginate @areas %>
<%= include_js 'admin/areas' %>