<% title t('.title') %>
<%= render partial: '/shared/navigation' %>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <th></th>
      <th><%= Area.human_attribute_name(:long_name) %></th>
      <th><%= Area.human_attribute_name(:short_name) %></th>
      <th><%= Area.human_attribute_name(:section) %></th>
      <th></th>
    </thead>
    <tbody>
      <% @areas.each do |area| -%>
        <tr>
          <td><%= area.enable_label %></td>
          <td><%= area.long_name %></td>
          <td><%= area.short_name %></td>
          <td><%= area.section %></td>
          <td>
            <%= edit_link(area) %>
            <%= destroy_link(area) %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
<%= paginate @areas %>