<% title t('.title') %>
<%= render partial: '/shared/navigation' %>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <th class="col-md-2"><%= Plan.human_attribute_name(:hotel_id) %></th>
      <th class="col-md-5"><%= Plan.human_attribute_name(:name) %></th>
      <th><%= Plan.human_attribute_name(:point_rate) %></th>
      <th><%= Plan.human_attribute_name(:icons) %></th>
      <th></th>
    </thead>
    <tbody>
      <% @plans.each do |plan| -%>
        <tr>
          <td><%= plan.hotel_name %></td>
          <td><%= plan.code %><br><%= plan.name %></td>
          <td><%= plan.point %></td>
          <td>
            <% plan.icons.each do |icon| -%>
              <%= raw(icon) %>
            <% end -%>
          </td>
          <td>
            <%= edit_link(plan) %>
            <%= destroy_link(plan) %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
<%= paginate @plans %>