<% title t('.title') %>
<%= render partial: '/shared/navigation' %>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <th></th>
      <th><%= Hotel.human_attribute_name(:name) %></th>
      <th><%= Hotel.human_attribute_name(:address2) %></th>
      <th></th>
    </thead>
    <tbody>
      <% @hotels.each do |hotel| -%>
        <tr>
          <td><%= image_tag(hotel.image_url, width: 80, class: 'img-responsive') %>
          <td>
            <%= hotel.no %><br>
            <%= link_to hotel.name, hotel.url, target: '_blank' %>
          </td>
          <td>
            <%= hotel.postal_code %><br>
            <%= hotel.address1 %><%= hotel.address2 %>
          </td>
          <td>
            <%= edit_link(hotel) %>
            <%= destroy_link(hotel) %>
          </td>
        </tr>
        <tr>
          <td colspan="5"><%= hotel.access %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
<%= paginate @hotels %>