<div class="row" vocab="http://schema.org/" typeof="Hotel">
  <h3 property="name"><%= hotel.link %></h3>
  <div class="col-md-3">
    <div class="center">
      <%= hotel.image(240) %>
      <div class="hidden-xs">
        <%= hotel.room_image(240) %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <address>
      <ul class="list-group">
        <li class="list-group-item">
          <%= hotel.address(hotel.map, icon('building-o') + " ") %>
        </li>
        <li class="list-group-item"><%= icon('phone') %>&nbsp;<span property="telephone"><%= hotel.telephone_no %></span></li>
        <li class="list-group-item"><%= icon('hand-o-right')%>&nbsp;<%= hotel.access %></li>
        <% label = hotel.minimum_charge_label %>
        <% if label.present? %>
        <li class="list-group-item"><%= icon('money') %><%= label %></li>
        <% end %>
      </ul>
    </address>
    <div class="reviews row" style="margin-top:2.5em;">
      <div class="col-md-6">
        <%= hotel.review_score %>
        <%= hotel.service_progressbar %>
        <%= hotel.location_progressbar %>
        <%= hotel.room_progressbar %>
        <%= hotel.equipment_progressbar %>
        <%= hotel.bath_progressbar %>
        <%= hotel.meal_progressbar %>
      </div>
      <div class="col-md-6">
        <pre property="description"><%= hotel.description %></pre>
      </div>
    </div>
  </div>
</div>