<% title @hotel.name %>
<% description @hotel.name + "のホテル詳細です。このホテルは#{@hotel.area.name}の地域に属しています。カレンダーの金額部分が表示されている箇所が宿泊可能な日付です。" %>
<section id="breadcrumbs">
<div class="container">
  <ol class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
    <li typeof="v:Breadcrumb">
      <%= link_to 'Home', '/', rel: "v:url", property: "v:title" %>
    </li>
    <li typeof="v:Breadcrumb">
      <%= link_to t('front.menu.hotels'), front_hotels_path, rel: "v:url", property: "v:title" %>
    </li>
    <li typeof="v:Breadcrumb">
      <%= link_to @hotel.area.name, areas_front_hotels_path(@hotel.area.uri_escaped_name), rel: "v:url", property: "v:title" %>
    </li>
    <li class="active" typeof="v:Breadcrumb">
      <%= link_to @hotel.name, front_hotel_path(URI.escape(@hotel.name), rel: "v:url", property: "v:title") %>
    </li>
  </ol>
</div>
</section>
<%= render partial: 'hotel_info', locals: {hotel: @hotel} %>
<%= render partial: 'vacancy_calendar', locals: {url: stay_front_hotel_path(@hotel)} %>