<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "admin", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t('admin.project_name'), admin_dashboard_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= nav_content_tag(:li, {controller: 'admin/hotels'}) do -%>
          <%= link_to t('admin.menu.hotels'), admin_hotels_path %>
        <% end -%>
        <%= nav_content_tag(:li, {controller: 'admin/areas'}) do -%>
          <%= link_to t('admin.menu.areas'), admin_areas_path %>
        <% end -%>
        <%= nav_content_tag(:li, {controller: 'admin/plans'}) do -%>
          <%= link_to t('admin.menu.plans'), admin_plans_path %>
        <% end -%>
        <%= nav_content_tag(:li, {controller: 'admin/rooms'}) do -%>
          <%= link_to t('admin.menu.rooms'), admin_rooms_path %>
        <% end -%>
        <%= nav_content_tag(:li, {controller: 'admin/charges'}) do -%>
          <%= link_to t('admin.menu.charges'), admin_charges_path %>
        <% end -%>
        <%= nav_content_tag(:li, {controller: 'admin/accounts'}) do -%>
          <%= link_to t('admin.menu.accounts'), admin_accounts_path %>
        <% end -%>
        <li><%= link_to t('admin.menu.sidekiq'), admin_sidekiq_web_path, target: '_blank' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
  <% if has_content?(:sidebar) %>
    <div class="col-sm-9 col-md-10 main">
      <%= render_flash_messages %>
      <%= yield %>
    </div>
    <div class="col-sm-3 col-md-2 sidebar">
      <%= yield :sidebar %>
    </div>
  <% else %>
    <div class="col-sm-12 col-md-12 main">
      <%= render_flash_messages %>
      <%= yield %>
    </div>
  <% end %>
  </div>
</div>
<footer id="footer">
  <p class="copyright">Copyright &copy; kengos.jp</p>
</footer>
<%= javascript_include_tag "admin" %>
<%= yield :foot %>
</body>
</html>
