<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index,follow,noarchive">
  <title><%= yield :title %></title>
  <meta name="description" content="<%= yield :description %>">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= yield :head %>
  <%= google_analytics_tag %>
</head>
<body data-spy="scroll" data-target="#navbar">
  <header id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to t('front.project_name'), front_dashboard_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="global-nav" class="nav navbar-nav">
          <%= nav_content_tag(:li, {controller: 'front/hotels'}) do -%>
            <%= link_to t('front.menu.hotels'), front_hotels_path %>
          <% end -%>
        </ul>
        <% if has_content? :right_nav %>
          <ul id="content-nav" class="nav navbar-nav navbar-right">
            <%= yield :right_nav %>
          </ul>
        <% end %>
      </div>
    </div>
  </header>
  <div id="main">
    <%= yield %>
  </div>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">&copy; 2014 kengos All Rights Reserved.</div>
      </div>
    </div>
  </footer>
  <%= javascript_include_tag "application" %>
  <%= yield :foot %>
</body>
</html>